@import url('https://api.fontshare.com/css?f[]=pally@400&display=swap');

.logo__ {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.ham_true {
    font-family: 'Pally', sans-serif;
    position: fixed;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 15px;
    top: 120px;
    background-color: #E67E22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

.ham_false {
    display: none;
}

.ham_item {
    text-decoration: none;
    margin: 15px 0 15px 0;
    width: 70px;
    color: white;
    
}